{% load static %} 
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Miyarika world!</title>
    <link href="{% static 'images/icon/icon2.jpg' %}" rel="icon">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
  </head>
    <body>
        <header style="display: flex;">
            <h1 class="emerald">Miyarika World!</h1>
            <div class="right">
              <a href="https://www.instagram.com/_miyarika_/" target="_blank"><img class="header-btn" src="{% static 'images/icon/instagram.png' %}"></a>
              <img class="header-btn" src="{% static 'images/icon/contact.png' %}">
              <img class="header-btn" src="{% static 'images/icon/store.png' %}">
              <img class="header-btn" src="{% static 'images/icon/menu.png' %}">
            </div>
        </header>

        <div class="contents">
          <div class="copy-contents">
            <div id="main">
              <div id="app"></div>
              <div id="slideshow" class="background-clip">
                <h1>Miyarika World!</h1>
              </div>
            </div>
          </div>
        </div>

        <div id="scroll">
          <div class="scroll-attention">
            <div class="scroll-text">
              <span>Scroll</span>
            </div>
          </div>
        </div>

        <div class="contents">
          <div class="explain-text">
            <h3>日々コツコツと働きながら、</h3>
            <h3>のんびり写真を撮ったり、絵を描いたり、旅したり。</h3>
            <h2 class="emerald">のんびり、コツコツ、ミヤリカワールド！</h2>
            <h3>気に入っていただけたら幸いです。</h3>
            <h2 style="color: red;">※周りが寂しい</h2>
            <h2 style="color: red;">※メニューとかストアの画面が未実装</h2>
          </div>
        </div>

        <div class="contents">
          <div class="photos">
            <div class="sub-title-area">
              <h1>photos</h1>
              <h2 style="color: red;">※見やすく、美しく</h2>
            </div>
            <div class="img-area">
              <img src="{% static 'images/flower.jpeg' %}" width="508" layout="responsive" class="card-img-top" alt="">
              <img src="{% static 'images/lotus.jpeg' %}" width="260" layout="responsive" class="card-img-top" alt="">
              <img src="{% static 'images/sunflower.jpeg' %}" width="252" layout="responsive" class="card-img-top" alt="">
              <img src="{% static 'images/build.jpeg' %}" width="252" layout="responsive" class="card-img-top" alt="">
              <img src="{% static 'images/baloon.jpeg' %}" width="250" layout="responsive" class="card-img-top" alt="">
            </div>
          </div>
        </div>

        <div class="contents">
          <div class="painting">
            <div class="sub-title-area">
              <h1>painting</h1>
              <h2 style="color: red;">※見やすく、美しく</h2>
            </div>
            <div class="img-area">
              <img src="{% static 'images/orangetable.jpeg' %}" width="508" layout="responsive" class="card-img-top" alt="">
              <img src="{% static 'images/teatime.jpeg' %}" width="260" layout="responsive" class="card-img-top" alt="">
              <img src="{% static 'images/grandma.jpeg' %}" width="250" layout="responsive" class="card-img-top" alt="">
              <img src="{% static 'images/GGorilla.jpeg' %}" width="250" layout="responsive" class="card-img-top" alt="">
              <img src="{% static 'images/wallpaper.jpeg' %}" width="160" layout="responsive" class="card-img-top" alt="">
              <img src="{% static 'images/bananamoon.jpeg' %}" width="250" layout="responsive" class="card-img-top" alt="">
            </div>
          </div>
        </div>

        <div class="contents">
          <div class="trip">
            <div class="sub-title-area">
              <h1>trip</h1>
              <h2 style="color: red;">※見やすく、美しく</h2>
            </div>
            <div class="img-area">
              <img src="{% static 'images/kaonashi.jpeg' %}" width="250" layout="responsive" class="card-img-top" alt="">
              <img src="{% static 'images/mashroom.jpeg' %}" width="250" layout="responsive" class="card-img-top" alt="">
              <img src="{% static 'images/ximen.jpeg' %}" width="250" layout="responsive" class="card-img-top" alt="">
              <img src="{% static 'images/lantern.jpeg' %}" width="508" layout="responsive" class="card-img-top" alt="">
              <img src="{% static 'images/street.jpeg' %}" width="250" layout="responsive" class="card-img-top" alt="">
              <img src="{% static 'images/river.jpeg' %}" width="250" layout="responsive" class="card-img-top" alt="">
              <img src="{% static 'images/shijo.jpeg' %}" width="250" layout="responsive" class="card-img-top" alt="">
            </div>
          </div>
        </div>

        <div class="contents">
          <div class="about">
            <div class="sub-title-area">
              <h1 data-text="about">about</h1>
              <h1 data-text="m">M</h1
              ><h1 data-text="i">i</h1
              ><h1 data-text="y">y</h1
              ><h1 data-text="a">a</h1
              ><h1 data-text="r">r</h1
              ><h1 data-text="i">i</h1
              ><h1 data-text="k">k</h1
              ><h1 data-text="a">a</h1>
            </div>
            <div class="profile-area">
              <div class="img-area">
                <img src="{% static 'images/miyarika.jpeg' %}" width="400" layout="responsive" class="card-img-top" alt="">
              </div>
              <div class="profile">
                <h2>Miyarika(宮𠩤 里佳)</h2>
                <p>会社員として働きながら趣味を極める一般人。</p>
                <p>休日はぐーたら趣味三昧。</p>
                <h2 style="color: red;">※外枠をお洒落にしたい</h2>
              </div>
            </div>
          </div>
        </div>
        
        <div style="display: flex;">
          <footer>
            <div class="footer-menu">
              <ul class="footer-menu-list">
                <li>HOME</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>CONTACT</li>
              </ul>
              </div>
              <div class="copyright">
                <p>created by N/A | powered by React-Native</p>
              </div>
          </footer>
        </div>
        
        <script src="{% static "frontend/main.js" %}"></script>
    </body>
</html>